# ASP.NET Core


# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  buildConfiguration: 'Release'

steps:

- task: gitversion/setup@0
  displayName: Setup Gitversion
  inputs:
    versionSpec: '5.0.0'

- script: dotnet build --configuration $(buildConfiguration)
  displayName: 'Dotnet Build $(buildConfiguration)'
  
- task: DotNetCoreCLI@2
  displayName: Run Unit Tests
  inputs:
    command: test
    arguments: '--configuration $(buildConfiguration) --no-build'
    projects: '**/*Tests/*.csproj'  
  
- task: DotNetCoreCLI@2
  displayName: "Nuget pack Discoverio Client"
  inputs:
    command: 'pack'
    packagesToPack: '**/Discoverio.Client.csproj'
    nobuild: true
    packDirectory: '$(Build.ArtifactStagingDirectory)'
    includesymbols: true
    versioningScheme: off
    versionEnvVar: 'GitVersion.NuGetVersion'
    
- task: DotNetCoreCLI@2
  displayName: "Nuget pack Discoverio Server"
  inputs:
    command: 'pack'
    packagesToPack: '**/Discoverio.Server.csproj'
    nobuild: true
    packDirectory: '$(Build.ArtifactStagingDirectory)'
    includesymbols: true
    versioningScheme: off
    versionEnvVar: 'GitVersion.NuGetVersion'

- task: git-tag-on-release-task@9
  displayName: "Add Tag"
  inputs:
    staticTagName: 'GitVersion.NuGetVersion'


# - task: NuGetCommand@2
#   displayName: "Nuget push to Nuget.org"
#   inputs:
#     command: 'push'
#     packagesToPush: '$(Build.ArtifactStagingDirectory)/**/*.nupkg;!$(Build.ArtifactStagingDirectory)/**/*.symbols.nupkg'
#     nuGetFeedType: 'external'
#     publishFeedCredentials: 'Nuget.org'
#     verbosityPush: 'Normal'